<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkingHoliday.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WorkingHoliday.Console.Properties.Settings>
            <setting name="ImmigrationUsername" serializeAs="String">
                <value>elisau</value>
            </setting>
            <setting name="ImmigrationPassword" serializeAs="String">
                <value>Elisaulloa123</value>
            </setting>
            <setting name="SuccessEmailTo" serializeAs="String">
                <value>mauricio.savigliano@gmail.com</value>
            </setting>
            <setting name="SuccessEmailFrom" serializeAs="String">
                <value>mauricio.savigliano@gmail.com</value>
            </setting>
            <setting name="PayerName" serializeAs="String">
                <value>MAURICIO SAVIGLIANO</value>
            </setting>
        </WorkingHoliday.Console.Properties.Settings>
    </userSettings>
</configuration>